.box {
  padding-inline-start: var(--box-padding-inline-start);
  padding-inline-end: var(--box-padding-inline-end);
  padding-block-end: var(--box-padding-block-end);
  padding-block-end: var(--box-padding-block-end);
}
