---
import PageHeader from '../../components/PageHeader.astro'
import Terminal from '../../components/Terminal.astro'
import Layout from '../../layouts/Layout.astro'
---

<Layout title="About">
  <main class="flow">
    <PageHeader>
      <h1 class="text-center headline hidden">About Me</h1>
      <h2 class="subtitle text-center hidden">This is how I work</h2>
    </PageHeader>
    <article class="region">
      <div class="wrapper flow prose">
        <h3>I focus on the user</h3>
        <p>
          I've worked in the software engineering space for over 14 years and
          enjoy being part of a team that solves problems together.
        </p>
        <Terminal />
      </div>
    </article>
  </main>
</Layout>
<style></style>
