:root {
  --color-neutral-50: #fafaf9;
  --color-neutral-100: #f5f5f4;
  --color-neutral-200: #e7e5e4;
  --color-neutral-300: #d6d3d1;
  --color-neutral-400: #a8a29e;
  --color-neutral-500: #78716c;
  --color-neutral-600: #57534e;
  --color-neutral-700: #44403c;
  --color-neutral-800: #292524;
  --color-neutral-900: #1c1917;

  --color-orange-50: #fff7ed;
  --color-orange-100: #ffedd5;
  --color-orange-200: #fed7aa;
  --color-orange-300: #fdba74;
  --color-orange-400: #fb923c;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-orange-700: #c2410c;
  --color-orange-800: #9a3412;
  --color-orange-900: #7c2d12;

  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-200: #bfdbfe;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-blue-600: #2563eb;
  --color-blue-700: #1d4ed8;
  --color-blue-800: #1e40af;
  --color-blue-900: #1e3a8a;

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.5rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.5rem, calc(4.33rem + 0.87vw), 5rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.3vw), 7.5rem);
  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.2rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.4rem + 1.41vw), 2.5rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5rem);
  --space-2xl-3xl: clamp(4.5rem, calc(3.46rem + 5.22vw), 7.5rem);
  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem);
  --space-l-2xl: clamp(2.25rem, calc(1.29rem + 4.78vw), 5rem);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.414,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size-step--2: clamp(0.63rem, calc(0.84rem + -0.27vw), 0.78rem);
  --size-step--1: clamp(0.88rem, calc(0.96rem + -0.09vw), 0.94rem);
  --size-step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --size-step-1: clamp(1.35rem, calc(1.2rem + 0.73vw), 1.77rem);
  --size-step-2: clamp(1.62rem, calc(1.31rem + 1.53vw), 2.5rem);
  --size-step-3: clamp(1.94rem, calc(1.39rem + 2.77vw), 3.53rem);
  --size-step-4: clamp(2.33rem, calc(1.41rem + 4.63vw), 5rem);
  --size-step-5: clamp(2.8rem, calc(1.32rem + 7.42vw), 7.07rem);
  --size-step-6: clamp(3.36rem, calc(1.05rem + 11.53vw), 9.99rem);

  /* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --grid-max-width: 77.5rem;
  --grid-gutter: var(
    --space-s-l,
    clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem)
  );
  --grid-columns: 12;

  --font-display: Redhat, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-base: Inter, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  --font-mono: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', 'Ubuntu Mono',
    'Roboto Mono', Menlo, Monaco, Consolas, monospace;
  --gutter: var(--space-s-m);
  --border-radius: 0.5rem;
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
  --dark-raw: 28 25 23;
  --light-raw: 250 250 249;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: var(--color-neutral-100);
    --color-fg: var(--color-neutral-700);
    --text-1: var(--color-neutral-900);
    --text-2: var(--color-fg);
    --color-fg-muted: var(--color-neutral-500);
    --color-border: var(--color-neutral-300);
    --color-primary: var(--color-orange-400);
    --color-primary-border: var(--color-orange-300);
    --color-nav: var(--surface-2);
    --color-accent: var(--color-orange-600);
    --color-accent-surface-4: var(--color-orange-500);
    --color-accent-surface-3: var(--color-orange-400);
    --color-accent-surface-2: var(--color-orange-300);
    --color-accent-surface-1: var(--color-orange-200);
    --icon-fill: var(--color-neutral-400);
    --icon-accent: var(--color-neutral-900);
    --surface-1: var(--color-neutral-100);
    --surface-2: var(--color-neutral-200);
    --surface-3: var(--color-neutral-300);
    --surface-4: var(--color-neutral-400);
    --bg-raw: 250 250 249;
    --fg-raw: 28 25 23;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-neutral-900);
    --color-fg: var(--color-neutral-100);
    --text-1: var(--color-neutral-50);
    --text-2: var(--color-fg);
    --color-fg-muted: var(--color-neutral-400);
    --color-primary-border: var(--color-blue-700);
    --color-primary: var(--color-blue-800);
    --color-nav: var(--surface-2);
    --color-accent: var(--color-blue-500);
    --color-accent-surface-4: var(--color-blue-600);
    --color-accent-surface-3: var(--color-blue-700);
    --color-accent-surface-2: var(--color-blue-800);
    --color-accent-surface-1: var(--color-blue-900);
    --icon-fill: var(--color-fg);
    --icon-accent: var(--color-bg);
    --surface-1: var(--color-neutral-900);
    --surface-2: var(--color-neutral-800);
    --surface-3: var(--color-neutral-700);
    --surface-4: var(--color-neutral-600);
    --bg-raw: 28 25 23;
    --fg-raw: 250 250 249;
  }
}
