@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&family=Red+Hat+Display:wght@500;700&display=swap');

body {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  letter-spacing: var(--tracking);
  line-height: 1.4;
}

h1,
h2,
h3 {
  font-family: var(--font-display);
  letter-spacing: var(--tracking-s);
  line-height: 1;
}

h1 {
  font-size: var(--size-step-5);
}

h2 {
  font-size: var(--size-step-4);
}

h3 {
  font-size: var(--size-step-3);
}

blockquote:not([class]),
li,
p {
  max-width: 50ch;
}

h1,
h2,
h3 {
  max-width: 20ch;
}

blockquote {
  -webkit-border-start: 0.8rem solid var(--color-primary);
  border-inline-start: 0.8rem solid var(--color-primary);
  font-size: var(--size-step-2);
  padding: var(--space-m-l);
}

blockquote > * + * {
  margin-top: var(--space-m-l);
}

blockquote :last-child {
  font-family: var(--font-base);
  font-size: var(--size-step-1);
  font-style: normal;
}

.text-center {
  text-align: center;
  margin-inline: auto;
}

.prose {
  --flow-space: var(--space-m-l);
  --wrapper-max-width: 55rem;
}

.prose :is(h2, h3, h4) + * {
  --flow-space: var(--space-s-m);
}

.prose .heading-anchor:is(:hover, :focus) {
  text-decoration: underline;
}

.prose .heading-anchor {
  text-decoration: none;
}

.prose mark {
  background: var(--color-primary-glare);
}

.section blockquote {
  font-size: var(--size-step-4);
  font-weight: 700;
  letter-spacing: var(--tracking-s);
  line-height: 1;
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 95%;
}

.seperator {
  fill: var(--spot-color, var(--color-light));
  display: block;
  height: 3.5em;
  width: 100%;
}
