.flex {
  display: var(--flex-display, 'flex');
  flex-direction: var(--flex-direction, 'row');
  align-items: var(--flex-align, 'stretch');
  justify-content: var(--flex-justify, 'start');
  flex-wrap: var(--flex-wrap, 'nowrap');
  gap: var(--flex-gap);
}
