---
import PageHeader from '../components/PageHeader.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
  <main class="flow">
    <PageHeader>
      <h1 class="text-center headline">
        Hi, I'm <span class="text-accent">Chad</span>
      </h1>
      <h2 class="subtitle text-center">I'm a software engineer</h2>
    </PageHeader>
    <article class="region">
      <div class="wrapper flow prose">
        <h3>
          I build <span class="text-accent">user experiences</span> and lead <span
            class="text-accent">engineering</span
          > teams
        </h3>
        <p>
          I bring a unique combination of technical expertise, creative
          problem-solving, and user-centered design principles to my work. I
          have honed my skills in developing user-friendly and intuitive
          interfaces that not only meet, but exceed user needs and expectations.
        </p>
        <p>
          I focus on the user and enjoy solving problems at the intersection of
          product, design, and engineering.
        </p>
        <p>Let's work together.</p>
      </div>
    </article>
  </main>
</Layout>
<style>
  h2 {
    font-size: var(--size-step-2);
    text-align: center;
    margin-inline: auto;
    font-weight: 400;
  }
  /* .greeting {
    text-shadow: 3px 3px 0 var(--text3),
      2px 10px 12px hsl(var(--surface-shadow) / var(--shadow-strength));
  } */
</style>
