---
const { href } = Astro.props
---

<Fragment>
  {
    href ? (
      <a class="button" href={href}>
        <slot />
      </a>
    ) : (
      <button class="button" type="button">
        <slot />
      </button>
    )
  }
</Fragment>

<style>
  .button {
    border: none;
    background-color: var(--surface-2);
    color: var(--color-fg);
    padding: var(--space-2xs) var(--space-m);
    font-size: var(--size-step--1);
    border-radius: 0.5rem;
  }
</style>
