---
import { parse } from 'node-html-parser'

export interface Props {
  name: string
  label?: string
}

function getSvg(name: string) {
  const filePath = `/src/svg/radix-icons/${name}.svg`
  const files = import.meta.glob('/src/svg/**/*.svg', {
    eager: true,
    as: 'raw',
  })

  if (!(filePath in files)) {
    throw new Error(`${filePath} not found`)
  }

  const root = parse(files[filePath])

  const svg = root.querySelector('svg')
  const { attributes, innerHTML } = svg

  return { attributes, innerHTML }
}

const { name, label = '' } = Astro.props
const { attributes, innerHTML } = getSvg(name)
---

<span class:list={[{ withLabel: label }]}>
  <svg {...attributes} set:html={innerHTML} />
  {label ? <span>{label}</span> : null}
</span>
<style>
  svg {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }

  .withLabel {
    display: inline-flex;
    align-items: baseline;
    gap: var(--space-2xs);
  }
</style>
