---
export interface Props {
  name: 'home' | 'settings' | 'clipboard' | 'clock' | 'calendar'
  label?: string
  fill?: string
  accent?: string
}

const {
  name,
  label = '',
  fill = 'var(--icon-fill)',
  accent = 'var(--icon-accent)',
} = Astro.props
---

<span class:list={[{ withLabel: label }]}>
  <svg
    class="icon"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke-width="1.5"
    stroke="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <defs>
      <g id="home">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M8.25 21v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21m0 0h4.5V3.545M12.75 21h7.5V10.75M2.25 21h1.5m18 0h-18M2.25 9l4.5-1.636M18.75 3l-1.5.545m0 6.205l3 1m1.5.5l-1.5-.5M6.75 7.364V3h-3v18m3-13.636l10.5-3.819"
        ></path>
      </g>
      <g id="settings">
        <path
          d="M7.99231 4.78709C8.49582 4.50673 8.91179 4.07694 9.09404 3.53021L9.48159 2.36754C9.75382 1.55086 10.5181 1 11.379 1H12.6209C13.4818 1 14.2461 1.55086 14.5183 2.36754L14.9058 3.53021C15.0881 4.07694 15.5041 4.50673 16.0076 4.78709C16.0859 4.83069 16.1634 4.87554 16.2401 4.92159C16.7348 5.21857 17.3157 5.36438 17.881 5.2487L19.0827 5.00279C19.9261 4.8302 20.7853 5.21666 21.2157 5.96218L21.8367 7.03775C22.2671 7.78328 22.1722 8.72059 21.601 9.36469L20.7861 10.2838C20.4041 10.7144 20.2391 11.2888 20.2482 11.8644C20.2496 11.9548 20.2496 12.0452 20.2482 12.1356C20.2391 12.7111 20.4042 13.2855 20.7861 13.7162L21.601 14.6352C22.1722 15.2793 22.2671 16.2167 21.8367 16.9622L21.2157 18.0378C20.7853 18.7833 19.9261 19.1697 19.0827 18.9971L17.881 18.7512C17.3158 18.6356 16.7349 18.7814 16.2402 19.0784C16.1635 19.1244 16.0859 19.1693 16.0076 19.2129C15.5041 19.4933 15.0881 19.9231 14.9058 20.4698L14.5183 21.6325C14.2461 22.4491 13.4818 23 12.6209 23H11.379C10.5181 23 9.75382 22.4491 9.48159 21.6325L9.09404 20.4698C8.91179 19.9231 8.49582 19.4933 7.99231 19.2129C7.91397 19.1693 7.83642 19.1244 7.75967 19.0784C7.26498 18.7814 6.68411 18.6356 6.11883 18.7512L4.91714 18.9971C4.07375 19.1697 3.21455 18.7833 2.78412 18.0378L2.16314 16.9622C1.73271 16.2167 1.82763 15.2793 2.39879 14.6352L3.21381 13.7161C3.59572 13.2854 3.76078 12.7111 3.75166 12.1355C3.75023 12.0452 3.75023 11.9548 3.75166 11.8644C3.76078 11.2889 3.59573 10.7145 3.21381 10.2838L2.39879 9.36469C1.82763 8.72059 1.73271 7.78328 2.16314 7.03775L2.78412 5.96218C3.21455 5.21665 4.07375 4.8302 4.91714 5.00278L6.11891 5.24871C6.68419 5.36439 7.26504 5.21857 7.75974 4.9216C7.83646 4.87554 7.91399 4.83069 7.99231 4.78709Z"
          fill="black"></path>
        <path
          class="accent"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z"
          fill="#9F9F9F"></path>
      </g>
      <g id="clipboard">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 9h3.75M15 12h3.75M15 15h3.75M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5zm6-10.125a1.875 1.875 0 11-3.75 0 1.875 1.875 0 013.75 0zm1.294 6.336a6.721 6.721 0 01-3.17.789 6.721 6.721 0 01-3.168-.789 3.376 3.376 0 016.338 0z"
        ></path>
      </g>
      <g id="arrow-backward">
        <path
          class="accent"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M21 12C21 11.4477 20.5523 11 20 11L4.5 11C3.94772 11 3.5 11.4477 3.5 12C3.5 12.5523 3.94772 13 4.5 13L20 13C20.5523 13 21 12.5523 21 12Z"
          fill="#9F9F9F"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.7071 19.2071C11.0976 18.8166 11.0976 18.1834 10.7071 17.7929L4.91421 12L10.7071 6.20711C11.0976 5.81658 11.0976 5.18342 10.7071 4.79289C10.3166 4.40237 9.68342 4.40237 9.29289 4.79289L3.5 10.5858C2.71895 11.3668 2.71895 12.6332 3.5 13.4142L9.29289 19.2071C9.68342 19.5976 10.3166 19.5976 10.7071 19.2071Z"
          fill="black"></path>
      </g>
      <g id="calendar">
        <rect x="2" y="4" width="20" height="18" rx="3" fill="black"></rect>
        <path
          class="accent"
          d="M2 7C2 5.34315 3.34315 4 5 4H19C20.6569 4 22 5.34315 22 7V10H2V7Z"
          fill="#9F9F9F"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7 2C7.55228 2 8 2.44772 8 3V5C8 5.55228 7.55228 6 7 6C6.44772 6 6 5.55228 6 5V3C6 2.44772 6.44772 2 7 2Z"
          fill="black"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M17 2C17.5523 2 18 2.44772 18 3V5C18 5.55228 17.5523 6 17 6C16.4477 6 16 5.55228 16 5V3C16 2.44772 16.4477 2 17 2Z"
          fill="black"></path>
      </g>
      <g id="clock">
        <circle cx="12" cy="12" r="10" fill="black"></circle>
        <path
          class="accent"
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M12 6C12.5523 6 13 6.44772 13 7V11.5858L15.2071 13.7929C15.5976 14.1834 15.5976 14.8166 15.2071 15.2071C14.8166 15.5976 14.1834 15.5976 13.7929 15.2071L11.5858 13C11.2107 12.6249 11 12.1162 11 11.5858V7C11 6.44772 11.4477 6 12 6Z"
          fill="#9F9F9F"></path>
      </g>
    </defs>
    <use xlink:href={`#${name}`}></use>
  </svg>
  {label ? <span>{label}</span> : null}
</span>

<style define:vars={{ fill, accent }}>
  .icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }

  .with-icon {
    display: inline-flex;
    align-items: baseline;
  }

  .with-icon .icon {
    margin-inline-end: 1rem;
  }
</style>
