---
import Button from './Button.astro'
import Icon from './Icon.astro'
import apexLogoPath from '../logos/apexcapital.svg'
import heLogoPath from '../logos/highereducation.svg'
import webflowLogoPath from '../logos/webflow.svg'

interface Frontmatter {
  companyName: string
  title: string
  startDate: string
  endDate?: string
  website: string
  slug: string
}

const logoLookup: {
  apexcapital: string
  highereducation: string
  webflow: string
} = {
  apexcapital: apexLogoPath,
  highereducation: heLogoPath,
  webflow: webflowLogoPath,
}

const experience = (
  await Astro.glob<Frontmatter>('../md/experience/*.md')
).sort(
  (a, b) =>
    new Date(b.frontmatter.startDate).getTime() -
    new Date(a.frontmatter.startDate).getTime()
)

const dateFormatter = new Intl.DateTimeFormat('en-US', {
  year: 'numeric',
  month: 'short',
})
---

<div class="id-card">
  <div class="info">
    <div class="photo">
      <figure>
        <img src="/avatar.jpg" alt="Chad looking to the left" />
        <figcaption>Chad Donohue</figcaption>
      </figure>
    </div>

    <div class="experience">
      <h4>Work experience</h4>
      {
        experience.map(({ frontmatter }) => {
          const { companyName, title, startDate, endDate } = frontmatter
          const tenure = `${dateFormatter.format(new Date(startDate))} - 
                ${
                  endDate ? dateFormatter.format(new Date(endDate)) : 'present'
                }`
          return (
            <div class="experience-entry">
              <div class="logo">
                <img
                  src={logoLookup[companyName.replace(' ', '').toLowerCase()]}
                />
              </div>
              <div class="entry">
                <div class="experience-company">{companyName}</div>
                <div class="experience-title">{title}</div>
                <div class="experience-tenure">{tenure}</div>
              </div>
            </div>
          )
        })
      }
    </div>
  </div>
</div>

<style>
  .id-card {
    border-radius: 0.8rem;
    overflow: hidden;
    border: 2px solid var(--surface-3);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
      0 4px 6px -4px rgb(0 0 0 / 0.1);
  }
  .photo {
    flex: 0 1 auto;
    padding: var(--space-s);
  }
  figure img {
    filter: grayscale();
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .info {
    display: flex;
    background-color: var(--surface-2);
  }
  .personal {
    background-color: var(--surface-1);
    padding: var(--space-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  figcaption {
    background-color: var(--surface-1);
    padding: var(--space-s);
    text-align: center;
    font-size: var(--size-step-0);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .personal-role {
    font-size: var(--size-step-0);
  }
  .experience {
    flex: 1 0 calc(100% * 0.618);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding: var(--space-s);
  }

  .experience-entry {
    display: flex;
    gap: var(--space-xs);
  }
  .logo {
    padding: var(--space-2xs);
    background-color: var(--surface-3);
    width: var(--space-l);
    height: var(--space-l);
    display: grid;
    place-items: center;
    border-radius: 9999px;
  }
  .logo img {
    margin-inline: auto;
    color: var(--surface-1);
  }

  .logo img svg {
    fill: white;
  }
  .entry {
    display: flex;
    gap: var(--space-3xs);
    flex-direction: column;
  }
  /* .experience-entry:not(:first-child) {
    border-top: 1px solid var(--surface-1);
  } */
  .experience-row {
    display: flex;
    padding: var(--space-s);
  }
  .experience-company {
    /* background-color: var(--surface-1); */
    font-size: var(--size-step-0);
  }
  .experience-title {
    font-size: var(--size-step-0);
    color: var(--color-fg-muted);
  }
  .experience-tenure {
    --icon-accent: var(--color-fg);
    font-size: var(--size-step--1);
  }
  @media (max-width: 720px) {
    .photo {
      display: none;
    }
  }
</style>
