---
import Nav from './Nav.astro'
import Waves from './Waves.astro'
import Animated from './Animated.jsx'
---

<header class="section">
  <div class="section__inner">
    <div class="wrapper flow region">
      <Animated client:load>
        <slot />
      </Animated>
    </div>
  </div>
  <Waves />
</header>

<style>
  .section__inner {
    background-color: var(--color-accent-surface-4, var(--color-darker));
    color: var(--color-light);
  }
  header {
  }
</style>
