---
export interface Props {
  bg?: string
  stroke?: string
  top?: boolean
  bottom?: boolean
}

const { bg, stroke, top, bottom } = Astro.props
---

<div>
  <svg
    id="visual"
    viewBox="0 0 900 100"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    ><path
      d="M0 14L12.5 14.8C25 15.7 50 17.3 75 17.7C100 18 125 17 150 17.3C175 17.7 200 19.3 225 22C250 24.7 275 28.3 300 30C325 31.7 350 31.3 375 33C400 34.7 425 38.3 450 36.2C475 34 500 26 525 19.7C550 13.3 575 8.7 600 7.5C625 6.3 650 8.7 675 9.2C700 9.7 725 8.3 750 9.5C775 10.7 800 14.3 825 14.8C850 15.3 875 12.7 887.5 11.3L900 10L900 0L887.5 0C875 0 850 0 825 0C800 0 775 0 750 0C725 0 700 0 675 0C650 0 625 0 600 0C575 0 550 0 525 0C500 0 475 0 450 0C425 0 400 0 375 0C350 0 325 0 300 0C275 0 250 0 225 0C200 0 175 0 150 0C125 0 100 0 75 0C50 0 25 0 12.5 0L0 0Z"
      fill="var(--color-accent-surface-4)"></path>
    <path
      d="M0 40L12.5 39.2C25 38.3 50 36.7 75 34.3C100 32 125 29 150 28.5C175 28 200 30 225 35C250 40 275 48 300 52.3C325 56.7 350 57.3 375 55.2C400 53 425 48 450 44.2C475 40.3 500 37.7 525 32.8C550 28 575 21 600 18.7C625 16.3 650 18.7 675 21.7C700 24.7 725 28.3 750 31C775 33.7 800 35.3 825 32.7C850 30 875 23 887.5 19.5L900 16L900 8L887.5 9.3C875 10.7 850 13.3 825 12.8C800 12.3 775 8.7 750 7.5C725 6.3 700 7.7 675 7.2C650 6.7 625 4.3 600 5.5C575 6.7 550 11.3 525 17.7C500 24 475 32 450 34.2C425 36.3 400 32.7 375 31C350 29.3 325 29.7 300 28C275 26.3 250 22.7 225 20C200 17.3 175 15.7 150 15.3C125 15 100 16 75 15.7C50 15.3 25 13.7 12.5 12.8L0 12Z"
      fill="var(--color-accent-surface-3)"></path>
    <path
      d="M0 54L12.5 54.7C25 55.3 50 56.7 75 54.3C100 52 125 46 150 45.3C175 44.7 200 49.3 225 53.8C250 58.3 275 62.7 300 65.2C325 67.7 350 68.3 375 68C400 67.7 425 66.3 450 61.3C475 56.3 500 47.7 525 41.7C550 35.7 575 32.3 600 29.8C625 27.3 650 25.7 675 27.5C700 29.3 725 34.7 750 38.3C775 42 800 44 825 43.2C850 42.3 875 38.7 887.5 36.8L900 35L900 14L887.5 17.5C875 21 850 28 825 30.7C800 33.3 775 31.7 750 29C725 26.3 700 22.7 675 19.7C650 16.7 625 14.3 600 16.7C575 19 550 26 525 30.8C500 35.7 475 38.3 450 42.2C425 46 400 51 375 53.2C350 55.3 325 54.7 300 50.3C275 46 250 38 225 33C200 28 175 26 150 26.5C125 27 100 30 75 32.3C50 34.7 25 36.3 12.5 37.2L0 38Z"
      fill="var(--color-accent-surface-2)"></path>
    <path
      d="M0 82L12.5 79C25 76 50 70 75 67.2C100 64.3 125 64.7 150 64.3C175 64 200 63 225 68C250 73 275 84 300 86.8C325 89.7 350 84.3 375 80.8C400 77.3 425 75.7 450 72.7C475 69.7 500 65.3 525 60.3C550 55.3 575 49.7 600 49.2C625 48.7 650 53.3 675 55.5C700 57.7 725 57.3 750 60.8C775 64.3 800 71.7 825 70.7C850 69.7 875 60.3 887.5 55.7L900 51L900 33L887.5 34.8C875 36.7 850 40.3 825 41.2C800 42 775 40 750 36.3C725 32.7 700 27.3 675 25.5C650 23.7 625 25.3 600 27.8C575 30.3 550 33.7 525 39.7C500 45.7 475 54.3 450 59.3C425 64.3 400 65.7 375 66C350 66.3 325 65.7 300 63.2C275 60.7 250 56.3 225 51.8C200 47.3 175 42.7 150 43.3C125 44 100 50 75 52.3C50 54.7 25 53.3 12.5 52.7L0 52Z"
      fill="var(--color-accent-surface-1)"></path>
  </svg>
</div>
<style define:vars={{ bg, stroke }}>
  svg {
    margin-top: -10px;
  }
</style>
